.blog {
  margin-bottom: 118px;
}

.blog h2 {
  margin: 0;
  margin-bottom: 19px;

  @include title;
}

.blog a {
  display: block;
  width: 65px;
  margin: 0 auto;
  margin-bottom: 64px;
  position: relative;
  color: $dark;

  @include underline;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.blog__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.blog__wrapper-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 48.7%;
  margin-right: 2.5%;
}

.blog__item {
  width: 100%;
  min-height: 300px;
  padding: 66px;
  padding-right: 60px;
  padding-bottom: 20px;

  &--care {
    margin-bottom: 30px;
    padding-left: 60.3%;
    background-image: url("../img/care@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-color: $cream;
    background-size: auto 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/care@2x.jpg");
      background-size: auto 100%;
    }
  }

  &--power {
    padding-right: 61.3%;
    background-image: url("../img/power@1x.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: $cream;
    background-size: auto 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/power@2x.jpg");
      background-size: auto 100%;
    }
  }

  &--trend {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    min-height: 315px;
    padding-top: 90px;
    padding-left: 61px;
    background-color: $cream;
  }
}

.blog__trend-wrapper {
  position: relative;
  width: 48.7%;
  min-height: 630px;
  background: url("../img/trends@1x.png") no-repeat right top;
  background-size: cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .blog__trend-wrapper {
    background-image: url("../img/trends@2x.jpg");
    background-size: cover;
  }
}

.blog h3 {
  margin: 0;
  margin-bottom: 36px;
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  color: $black;
}

.blog time {
  margin: 0;
  margin-bottom: 13px;
  display: block;
  font-family: $font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $grey;
}

.blog__item a {
  width: 98px;
  margin-bottom: 10px;
}

@media (max-width: 1300px) {
  .blog__item {
    &--care {
      background-position: -10% 0;
    }

    &--power {
      background-position: 110% 0;
    }
  }
}

@media (max-width: 1270px) {
  .blog__item {
    &--care {
      background-position: -20% 0;
    }

    &--power {
      background-position: 120% 0;
    }
  }
}

@media (max-width: 1180px) {
  .blog__item {
    &--care {
      background-position: -30% 0;
      padding-top: 43px;
      padding-right: 25px;
    }

    &--power {
      background-position: 130% 0;
      padding-left: 28px;
      padding-top: 43px;
    }
  }
}

@media (max-width: 1090px) {
  .blog__item {
    &--care {
      background-position: -40% 0;
    }

    &--power {
      background-position: 130% 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .blog {
    margin-bottom: 69px;
  }

  .blog__wrapper {
    flex-direction: column;
  }

  .blog__wrapper-items {
    width: 100%;
  }

  .blog__item {
    &--care {
      width: 100%;
      margin-bottom: 49px;
      padding-top: 67px;
      padding-right: 67px;
      background: url("../img/care-tablet@1x.jpg") no-repeat left top;
      background-color: $cream;
      background-size: 50% auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/care-tablet@2x.jpg");
        background-size: 50% auto;
      }
    }

    &--power {
      width: 100%;
      margin-bottom: 50px;
      padding-top: 67px;
      padding-right: 62.3%;
      padding-left: 84px;
      background: url("../img/power-tablet@1x.jpg") no-repeat right top;
      background-color: $cream;
      background-size: 50% auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/power-tablet@2x.jpg");
        background-size: 50% auto;
      }
    }

    &--trend {
      position: relative;
      bottom: 0;
      right: -50%;
      width: 50%;
      min-height: 300px;
      padding-top: 85px;
      padding-left: 61px;
    }
  }

  .blog__item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .blog time {
    margin-bottom: 12px;
  }

  .blog h3 {
    margin-bottom: 38px;
  }

  .blog__trend-wrapper {
    width: 100%;
    min-height: 300px;
    background: url("../img/trends-tablet@1x.jpg") no-repeat left top;
    background-size: 50% auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .blog__trend-wrapper {
      background-image: url("../img/trends-tablet@2x.jpg");
      background-size: 50% auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .blog {
    margin-bottom: 59px;
  }

  .blog__wrapper {
    max-width: 500px;
    margin: 0 auto;
  }

  .blog a {
    margin-bottom: 53px;
  }

  .blog__item {
    margin-bottom: 40px;
    min-height: 512px;
    padding-top: 104%;
    padding-right: 18%;
    padding-left: 18%;

    &--care {
      background: url("../img/care-mobile@1x.jpg") no-repeat left top;
      background-color: $cream;
      background-size: 100% auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/care-mobile@2x.jpg");
        background-size: 100% auto;
      }
    }

    &--power {
      padding-right: 20%;
      padding-left: 21%;
      background: url("../img/power-mobile@1x.jpg") no-repeat right top;
      background-color: $cream;
      background-size: 100% auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/power-mobile@2x.jpg");
        background-size: 100% auto;
      }
    }

    &--trend {
      position: relative;
      bottom: -256px;
      right: 0;
      width: 100%;
      min-height: 256px;
      padding-top: 62px;
      padding-left: 54px;
    }
  }

  .blog__item a {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }

  .blog time {
    margin-bottom: 12px;
  }

  .blog h3 {
    margin-bottom: 38px;
  }

  .blog__trend-wrapper {
    width: 100%;
    min-height: 512px;
    background: url("../img/trends-mobile@1x.jpg") no-repeat left top;
    background-size: 100% auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .blog__trend-wrapper {
      background-image: url("../img/trends-mobile@2x.jpg");
      background-size: 100% auto;
    }
  }
}
