.container {
  width: 98.12%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .container {
    width: 90.89%;
    padding: 0 10px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-width) {
  .container {
    width: 96.88%;
    padding: 0 10px;
    margin: 0 auto;
  }
}
