.main-nav {
  width: 100%;
}

.main-nav__top {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 42px;
  margin-bottom: 23px;
}

.main-nav__toggle {
  display: none;
}

.main-nav__top form {
  position: relative;
  max-width: 300px;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.main-nav__search svg {
  position: absolute;
  top: 14px;
  left: 0;
  fill: $black;
  width: 14px;
  height: 14px;
}

.main-nav input {
  width: 208px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-bottom: 20px;
  border-radius: 0;
  cursor: pointer;
}

.main-nav input[placeholder] {
  border: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: $font;
  letter-spacing: normal;
}

.main-nav ::-webkit-input-placeholder {
  color: $grey;
}

.main-nav :-ms-input-placeholder {
  color: $grey;
}

.main-nav ::-moz-placeholder {
  color: $grey;
}

.main-nav__cart svg {
  fill: none;
  display: none;
}

.main-nav__user {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  padding-top: 11px;
  padding-bottom: 25px;
  max-width: 180px;
}

.main-nav__user a {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $dark;
  margin-right: 33px;

  &:nth-of-type(2n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav__bottom {
  position: relative;
  min-height: 61px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f6f5f4;
  }
}

.main-nav__bottom--card {
  margin-bottom: 68px;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f6f5f4;
  }
}

.main-nav__main-list {
  display: none;

  @include list-reset;
}

.main-nav__bottom--catalog .main-nav__main-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0 auto;
  padding-left: 12px;
}

.main-nav__bottom--catalog li {
  display: block;
  margin-top: 19px;
  margin-right: 35px;

  &:nth-of-type(5n) {
    margin-right: 0;
  }
}

.main-nav__bottom--catalog a {
  display: block;
  font-weight: 500;
  color: $dark;
  text-align: left;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.main-nav__bottom--catalog .main-nav__link--info {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-nav__top form {
    display: none;
  }

  .main-nav {
    width: 100%;
    position: relative;
    justify-content: flex-start;
  }

  .main-nav__user {
    padding-bottom: 0;
  }

  .main-nav__login {
    display: none;
  }

  .main-nav__cart span {
    display: none;
  }

  .main-nav__bottom--catalog .main-nav__main-list {
    display: none;
  }

  .main-nav__main-list a {
    margin-left: 0;
    word-wrap: break-word;
  }

  .main-nav__toggle {
    position: relative;
    padding: 0;
    top: 12px;
    left: 0;
    z-index: 2;

    display: block;
    width: 25px;
    height: 20px;

    background-color: transparent;

    cursor: pointer;
    border: none;

    &:hover {
      opacity: 0.8;
    }

    &:focus,
    &:active {
      opacity: 0.5;
    }
  }

  .main-nav--closed .main-nav__toggle::before,
  .main-nav--closed .main-nav__toggle:active::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 25px;
    height: 2px;
    background-color: $dark;
    box-shadow: 0 8px 0 0 $dark, 0 16px 0 0 $dark;
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 25px;
      height: 2px;
      background-color: $white;
      box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--closed ul {
    display: none;
  }

  .main-nav--nojs ul {
    display: flex;
  }

  .main-nav--closed .main-nav__cart-svg {
    display: block;
    stroke: $dark;
  }

  .main-nav--nojs,
  .main-nav--opened {
    position: relative;
    width: 100%;
    min-height: 778px;
    color: $white;
    background-color: $brown;
  }

  .main-nav--nojs {
    margin-bottom: 100px;
  }

  .main-nav--nojs .main-nav__main-list,
  .main-nav--opened .main-nav__main-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    margin-top: 125px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    min-height: 510px;
    color: $white;
    background-color: $brown;
    text-align: left;
  }

  .main-nav--nojs .main-nav__main-list--catalog,
  .main-nav--opened .main-nav__main-list--catalog {
    margin-top: 105px;
    width: 90.89%;
    padding: 0 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .main-nav--nojs form,
  .main-nav--opened form {
    display: block;
    position: absolute;
    top: 93px;
    left: 10px;
    width: 97%;
    max-width: 100%;

    &:hover,
    &:focus,
    &:active {
      opacity: 0.9;
    }
  }

  .main-nav--nojs input,
  .main-nav--opened input {
    width: 100%;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-bottom: 20px;
    border-radius: 21px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
  }

  .main-nav--nojs a:not(.logo),
  .main-nav--opened a:not(.logo) {
    display: block;
    width: 100%;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    font-family: $font;
    color: $white;
    background-color: $brown;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .main-nav--nojs .main-nav__link[href],
  .main-nav--opened .main-nav__link[href] {
    margin-bottom: 21px;
  }

  .main-nav--nojs .main-nav__link--catalog[href],
  .main-nav--opened .main-nav__link--catalog[href] {
    margin-bottom: 2px;
  }

  .main-nav--nojs .main-nav__link--catalog-last[href],
  .main-nav--opened .main-nav__link--catalog-last[href] {
    margin-bottom: 22px;
  }

  .main-nav--nojs .main-nav__link--info[href],
  .main-nav--opened .main-nav__link--info[href] {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 21px;
    margin-bottom: 0;
  }

  .main-nav--nojs .main-nav__link--login[href],
  .main-nav--opened .main-nav__link--login[href] {
    color: $white;
    margin-top: 40px;
  }

  .main-nav--nojs .main-nav__link--info-catalog[href],
  .main-nav--opened .main-nav__link--info-catalog[href] {
    margin-top: 0;
    margin-bottom: 2px;
  }

  .main-nav--nojs .main-nav__login[href],
  .main-nav--opened .main-nav__login[href] {
    display: none;
  }

  .main-nav--nojs .main-nav__link--login-catalog[href],
  .main-nav--opened .main-nav__link--login-catalog[href] {
    color: $white;
    margin-top: 23px;
  }

  .main-nav--nojs .main-nav__logo,
  .main-nav--opened .main-nav__logo {
    display: block;
    margin-bottom: 34px;
  }

  .main-nav--nojs svg,
  .main-nav--opened svg {
    stroke: $white;
  }

  .main-nav--nojs .main-nav__search-svg,
  .main-nav--opened .main-nav__search-svg {
    position: absolute;
    top: 13px;
    left: 12px;
    width: 16px;
    height: 16px;
    fill: $white;
    stroke: none;
    z-index: 2;
  }

  .main-nav--nojs ::-webkit-input-placeholder,
  .main-nav--opened ::-webkit-input-placeholder {
    color: transparent;
  }

  .main-nav--nojs :-ms-input-placeholder,
  .main-nav--opened :-ms-input-placeholder {
    color: transparent;
  }

  .main-nav--nojs ::-moz-placeholder,
  .main-nav--opened ::-moz-placeholder {
    color: transparent;
  }

  .main-nav__cart svg {
    fill: none;
    display: none;
  }

  .main-nav--opened {
    position: absolute;
    min-width: 320px;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .main-nav--opened .main-nav__cart-svg,
  .main-nav--nojs .main-nav__cart-svg {
    display: block;
    stroke: $white;
  }

  .main-nav__bottom {
    min-height: 32px;

    &::before {
      width: 0;
      height: 0;
    }
  }

  .main-nav__bottom--card {
    margin-bottom: 20px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav--nojs,
  .main-nav--opened {
    min-height: 684px;
    overflow-y: scroll;
  }

  .main-nav__top {
    margin-top: 25px;
    margin-bottom: 6px;
  }

  .main-nav--nojs form,
  .main-nav--opened form {
    top: 76px;
  }

  .main-nav--nojs .main-nav__main-list,
  .main-nav--opened .main-nav__main-list {
    margin-top: 97px;
  }

  .main-nav--nojs .main-nav__link--info[href],
  .main-nav--opened .main-nav__link--info[href] {
    margin-top: 11px;
    margin-bottom: 9px;
  }

  .main-nav--nojs .main-nav__link--login[href],
  .main-nav--opened .main-nav__link--login[href] {
    margin-top: 27px;
  }

  .main-nav__bottom--card {
    margin-bottom: 0;

    &::after {
      width: 0;
      height: 0;
    }
  }
}
