@font-face {
    font-family: 'Cormorant Garamond';
    src: url('cormorantgaramond-600-normal.woff2') format('woff2'), url('cormorantgaramond-600-normal.woff') format('woff'), url('cormorantgaramond-600-normal.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}